/**
**	STYLES GLOBAUX
**/
body{
	margin: 0 auto;
	width: 80%;
}

header, footer{
	text-align: center;
	font-family: Verdana, sans-serif;
	margin: 20px 0;
	padding: 15px 0;
	background-color: #333;
	color: #fff;
}
header{
	text-transform: uppercase;
}
footer{
	font-size:  0.8em;
}

main{
	font-family: 'El Messiri', sans-serif;
}
a{
	text-decoration: none;
	color: red;
	padding: 10px;
	font-size: 0.8em;
}
/**
**	Style des classes
**/
.titre{
	color: navy;
}

.lien{
	text-decoration: none;
}
.error{
	border-color: red;
}
.email-msg{
	background-color: red;
	color: #fff;
	display: none;
	width: 300px;
	text-align: center;
	padding: 10px 0;
	margin-top: 0;
	border-radius: 5px;
}

.dt-buttons{
	display: block;
}